.container {
   position: relative;
   width: 100%;
   padding: 3rem 1rem;
   min-height: 80vh;
}
.publicity {
   /* display: flex; */
   justify-content: space-around;
   font-size: .9rem;
   margin-bottom: 1rem;
}
.publicist {
   /* display: flex; */
}
.publicist h4, .publicist p, .publicist a {
   font-weight: 500;
}
.publicist h4 {
   margin: .5rem 0 0 0;
   font-weight: 500;
}
 .publicist p, .publicist a {
   margin: 0;
   font-weight: 500;
}
.publicist p {
   line-height: 1.1rem;
   color: grey;
}
