.container {
   position: relative;
   width: 100%;
   padding: 3rem  0  0 4rem;
   min-height: 80vh;
}
.publicity_container {
   /* display: flex; */
   width: 90%;
   /* justify-content: space-around; */
   font-size: .9rem;
}
.publicist {
   /* display: flex; */
}
.container h4 {
   margin: 1rem 0 0 0;
   font-weight: 500;
   color: rgb(75, 75, 75);
}
 .publicist p, .publicist a {
   margin: 0 0 1rem 1rem;
   font-weight: 500;
}
.publicist p {
   /* line-height: 1.1rem; */
   color: grey;
}

.form_container {
   width: 50%;
   margin-left: 1rem;
}
.form_container p {
   margin: 0;
}
@media (max-width: 600px) {
   .container {
      padding-left: 1rem;
   }
   .publicity_container {
      width: 100%;
   }
   .form_container {
      width: 90%;
   }
}
