.container {
   position: relative;
   width: 100%;
   padding: 3rem 1rem;
   min-height: 80vh;
}
.publicity {
   /* display: flex; */
   width: 90%;
   /* justify-content: space-around; */
   font-size: .9rem;
   margin: 0 auto;
}
.publicist {
   /* display: flex; */
}
.publicist h4, .publicist p, .publicist a {
   font-weight: 500;
}
.publicist h4 {
   margin: 1rem 0 0 0;
   font-weight: 500;
}
 .publicist p, .publicist a {
   margin: 0 0 1rem 1rem;
   font-weight: 500;
}
.publicist p {
   /* line-height: 1.1rem; */
   color: grey;
}

.form_container {
   width: 50%;
   margin: 3rem auto 0;
}
.form_container p {
   margin: 0;
}
