.container {
   max-width: 900px;
   margin: 0 auto;
}
.container img {
   float: left;
   margin: 0 1rem 0 0;
   width: 15rem;
   border-radius: 5%;
}
@media (max-width: 600px) {
   .container {
      width: 98%;
   }
   .container h2 {
      text-align: center;
   }
   .container img {
      float: none;
      display: block;
      width: 90%;
      margin: 1rem auto;
      text-align:center;
   }
   
}



