.container {
   width: 100%;
   margin: 0 auto;
}
.container img {
   display: block;
   margin: 0 auto;
   width: 15rem;
   border-radius: 5%;
}
.container h2 {
   text-align: center;
}
/* .container .block_img img {
   width: 15rem;
   margin: 1rem;
} */
/* .container p:nth-child(3) img {
   float: left;
}
.container p:nth-child(6) img{
   float: right;
} */
