.container {
   position: relative;
   width: 100%;
   padding: 3rem 1rem;
   min-height: 90vh;
}
.container p {
   font-size: .8rem;
   font-weight: 400;
   color: grey;
}
.container img {
   float: left;
   margin: .3rem 1rem 1rem 0;
   max-height: 10rem;
}
@media (max-width: 600px) {
   /* */
   
}



