.container {
   width: 80%;
   margin: 0 auto;
}

.header {
   height: min-content;
   max-width: 900px;
   margin: 0 auto;
   transition: .3s;
}

.nav_container {
   height: 1.5rem;
   margin: .5rem auto;
   padding-top: .2rem;
   display: flex;
   overflow: hidden;
   transition: .3s;
}
.nav_container_open {
   height: 6rem;
   margin: .5rem auto;
   padding-top: .2rem;
   display: flex;
   transition: .3s;
}
   .nav_container h1, .nav_container_open h1 {
      width: 20%;
      margin: 0;
      font-size: 1rem;
      font-weight: 100;
      letter-spacing: .1rem;
      cursor: pointer;
   }
   .nav_container a {
      color: initial;
      transition: .2s;
   }
   .nav_container a:hover {
      color: grey;
      transition: .2s;
   }
   .nav_toggle {
      width: 2rem;
      display: block;
      text-align: left;
      cursor: pointer;
   }
      .open_icon:after, .close_icon:after {
         font-size: 1rem;
         width: 1rem;
         padding-left: .5rem;
      }
      .open_icon:after {
         content: '\25B6';
      }
      .close_icon:after {
         content: '\25BC';
      }
   .nav {
      width: 100%;
      height: 4rem;
      margin-top: 1.5rem;
      display: flex;
      justify-content: space-around;
      overflow: hidden;
      border-right: 1px solid rgb(243, 243, 243);
      border-left: 1px solid rgb(243, 243, 243);
   }
   .nav ul {
         display: flex;
         flex-wrap: wrap;
         flex-direction: column;
         align-items: flex-start;
         margin: 0;
         overflow: hidden;
         width: 20rem;
         padding: 0;
         list-style: none;
         background: white;
      }
      .nav_open li {
         /* height: 1rem; */
         /* padding: .3rem; */
      }
      .nav li:hover{
         background: black;
         /* text-align: right; */
         transition: .2s;
      }
         .nav a {
            letter-spacing: .1rem;
            font-size: .8rem;
            font-weight: 100;
            text-transform: lowercase;
            color: grey;
            transition: .2s;
         }
         .nav a:hover {
            color: white;
         }

      .mailing_list {
         min-width: min-content;
         height: min-content;
         opacity: .5;
         transition: .2s;
      }
      .mailing_list:hover {
         opacity: 1;
         transition: .2s;
      }
         .mailing_list p {
            margin: 0 0 0 .5rem;
            font-size: .8rem;
            font-style: italic;
            color: rgb(155, 155, 155);
         }

.footer {
   display: flex;
   justify-content: center;
   justify-items: center;
   padding: 2rem;
   font-size: .8rem;
   color: grey;
}

@media (max-width: 600px) {

   .container, .header, .header_open {
      width: 98%;
   }
   
   .nav_container h1 {
      width: 60%;
   }

   .nav ul, .nav_open ul {
      margin-left: 0;
      width: 100%;
      text-align: right;
   }
   .nav_open {
      height: 100vh;
      overflow: hidden;
   }
      .nav_open a, .nav_links a {
         font-size: 1.5rem;
         padding: .5rem;
      }
      .nav_open li, .nav_links li {
         padding: .5rem;
      }
   .mailing_list {
      display: none;
   }
   
      
 }
