.container {
}

.container form {
   display: flex;
   justify-content: space-between;
   
}
.form_label {
   display: inline;
   color: rgb(155, 155, 155);
}
.container p {
   font-size: .8rem;
   margin: 0 1rem 0 0;
}
.form_label label {
   font-size: .8rem;
   margin: 0 .5rem 0 0;
   text-transform: lowercase;
   font-style: italic;
}
.form_label input {
   border: none;
   outline: none;
   width: 60%;
   transition: ease-in-out, width .35s ease-in-out;
   background: rgb(245, 245, 245);
}

.container input:focus {
  width: 80%;
  background: rgb(255, 255, 171);
}

.container button {
   margin: .8rem 0 0 0;
   font-size: .8rem;
   letter-spacing: .1rem;
   color: white;
   border: 0;
   text-transform: lowercase;
   padding: .4rem;
   background: rgb(155, 155, 155);
   border-radius: 5px;
   cursor: pointer;
}