.container {
   /* background: red; */
   display: flex;
   justify-content: flex-end;
   /* text-align: right; */
   /* opacity: .7; */
}
.container form {
   text-align: right;
   display: flex;
   
}
.form_label {
   display: inline;
   color: rgb(199, 199, 199);
}
/*  */
.container p {
   font-size: .8rem;
   /* display: inline; */
   margin: 0 1rem 0 0;
}
.form_label label {
   font-size: .8rem;
   margin: 0 .5rem;
   text-transform: lowercase;
   font-style: italic;
}
.form_label input {
   border: none;
   outline: none;
  width: 50px;
  transition: ease-in-out, width .35s ease-in-out;
  background: rgb(245, 245, 245);
}

.container input:focus {
  width: 100px;
  background: rgb(255, 255, 171);
}

.container button {
   margin: -.2rem 0 0 1rem ;
   vertical-align: super;
   font-size: .8rem;
   border: 0;
   text-transform: lowercase;
   padding: .4rem;
   background: black;
   color: rgb(230, 230, 230);
   border-radius: 5px;
}