.wrapper {
   width: 10rem;
   display: flex;
   justify-content: space-between;
}
.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   width: 4rem;
   height: 3rem;
   border: 1px solid grey;
}
.square {
   height: 40%;
   width: 30%;
}
.rectangle {
   border: 1px solid grey;
}
.rectangle.vertical {
   height: 90%;
   width: 60%;
   margin: 2% auto
}
.rectangle.horizontal {
   height: 60%;
   width: 90%;
   margin: 20% auto;
}
.rectangle.square {
   height: 100%;
   width: 100%;
}