.container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   color: white;
   background: rgba(0, 0, 0, 0.616);
   z-index: 999;
}
.img_container {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   text-align: center;
}
.img_container p {
   color: grey;
   font-weight: 200;
}
.video_container {
   width: min-content;
   margin: 5% auto;
}