.container {
   padding: 0 0.5rem;
   display: flex;
   flex-direction: column;
  justify-content: center;
  align-items: center;
}
   .main {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
      .main .banner {
         max-width: 900px;
      }

   .calendar_container {
      max-width: 900px;
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      border: 1px solid rgb(241, 241, 241);
   }
      .calendar_container .mailing_list {
         display: none;
      }
      .calendar_container h4 {
         margin: 1rem 0 0 0;
      }
      .calendar_container ul {
         font-size: .8rem;
         list-style: none;
         padding: 0;
         margin: 0;
      }
      .calendar_container p {
         margin: .5rem 0;
      }
      .calendar_container main {
         width: 60%;
      }
      .calendar_container aside {
         width: 35%;
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         /* border-left: 1px solid rgb(241, 241, 241); */
      }
         .calendar_container aside .mailing_list {
            width: 90%;
            display: block;
         }
         .mailing_list {
            margin: 0;
            width: 94%;
            margin: 4rem 0 0 6%;
         }
            .mailing_list p {
               font-size: .8rem;
               line-height: 1rem;
               margin: 0;
            }

         .featured_flyer {
            width: 90%;
            margin-bottom: 1rem;
            /* display: block; */
            /* text-align: right; */
            /* margin: 2rem 12%; */
         }

@media (max-width: 600px) {
   .banner {
      width: 100%;
   }
   .calendar_container .mailing_list {
      display: block;
      margin: 0;
      width: 100%;
   }
   .calendar_container {
      display: initial;
   }
   .calendar_container main {
      width: 100%;
   }
   .container aside {
      display: none;
   }
}