.calendar_container {
   width: 80%;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
}
.container main {
   width: 60%;

}
.container aside {
   width: 30%;
   
}
.announcement p {
   font-size: .8rem;
   background-color: rgb(255, 255, 123);
   padding: 5px;
}