.container {
   position: relative;
   width: 100%;
   min-height: 90vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
   
   .banner {
         width: 100%;
   }

   .calendar_container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: .8rem;
      padding: 1rem;
      font-size: .9rem;
   }
      .calendar_container .mailing_list {
         display: none;
      }

      .calendar_container main {
         width: 60%;
      }

      .calendar_container main .calendar_listing {
         width: 80%;
         height: min-content;
         padding: 1rem;
         margin: .3rem 0;
         background: white;
         box-shadow: 0px 0px 9px 1px rgb(238, 238, 238);

      }

      /* .calendar_container main p,
      .calendar_container main h4,
      .calendar_container main ul {
         color: rgb(102, 102, 102);
      }
      .calendar_container main h4 { 
         margin: 1rem 0 0 0;
         font-size: 1.2rem;
         font-weight: 600;
         text-decoration: underline;
      }
      .calendar_container main ul {
         list-style: none;
         padding: 0;
         margin: 0;
         font-size: .7rem;
      }
      .calendar_container main p {
         margin: .5rem 0;
         letter-spacing: 1px;
      } */

      .calendar_container aside {
         width: 35%;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-top: 3rem;
         /* border-left: 1px solid rgb(241, 241, 241); */
      }
      .calendar_container aside .featured_flyer {
            width: 70%;
            margin: 1rem 0;
            opacity: .8;
         }
         .calendar_container aside .mailing_list {
            width: 90%;
            display: block;
         }
         .mailing_list {
            width: 94%;
            margin: 4rem 0 0 6%;
         }
            .mailing_list p {
               font-size: .7rem;
               line-height: .8rem;
               margin: 0 0 1rem 0;
            }


@media (max-width: 600px) {
   .container {
      padding: 0;
   }
   .banner {
      width: 100%;
   }
   .calendar_container .mailing_list {
      display: block;
      margin: 0 0 4rem 0;
      width: 100%;
   }
   .calendar_container {
      display: initial;
   }
   .calendar_container main {
      width: 100%;
   }
   .container aside {
      display: none;
   }
}