.container {
   width: 100%;
   margin: 0 auto;
}
.post_link {
   display: flex;
   width: 100%;
   margin: 0 auto;
}
/* .post_container li {
   list-style:  none;
   
} */
.post_link h3, .post_link h4 {
   margin: 0;
   display: inline;
   font-size: .8rem;
}

.last_post_container img {
   max-height: 10rem;
}