.container {
   max-width: 900px;
   min-height: 80vh;
   margin: 0 auto;
   transition: .3s;
}
.container_blur {
   max-width: 900px;
   min-height: 80vh;
   margin: 0 auto;
   -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(5px);
   background-color: white;
   transition: .3s;
}
.old_posts{
   margin-top: 4rem
}
.post_container p {
   margin: 0;
   font-size: .7rem;
   font-weight: 700;
}
.post_link {
   display: flex;
   width: 100%;
   margin: 0 auto;
}

.post_link h3, .post_link h4 {
   margin: 0;
   display: inline;
   font-size: .8rem;
}
.last_post_container img {
   max-height: 10rem;
}
.posts {
   display: flex;
   justify-content: space-between;
}

@media (max-width: 600px) {
   .container {
      width: 98%;
   }
   .posts {
      display: initial;
   }
   .old_posts {
      margin-top: 2rem;
      border-top: 1px solid grey;
   }
}