.container {
   max-width: 900px;
   min-height: 80vh;
   margin: 0 auto;
}
.post_container h3 {
   margin-bottom: 0;
}
.post_link {
   display: flex;
   width: 100%;
   margin: 0 auto;
}

.post_link h3, .post_link h4 {
   margin: 0;
   display: inline;
   font-size: .8rem;
}
.last_post_container img {
   max-height: 10rem;
}
.posts {
   display: flex;
   justify-content: space-between;
}