.container {
   max-width: 900px;
   display: flex;
   justify-content: space-between;
   padding: 4rem 0.5rem;
   margin: 0 auto;
   transition: .3s;
}
.container_blur {
   max-width: 900px;
   display: flex;
   justify-content: space-between;
   padding: 4rem 0.5rem;
   margin: 0 auto;
   transition: .3s;

   -webkit-filter: blur(5px);
   -moz-filter: blur(5px);
   -o-filter: blur(5px);
   -ms-filter: blur(5px);
   filter: blur(5px);
   background-color: none;
}
.gallery_container {
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   /* margin: 1rem auto; */
   /* justify-content: space-between ; */
   /* background: honeydew; */
}
.photo_container {
   height: 9rem;
   width: 9rem;
   text-align: center;
   /* background: yellow; */
}
.photo_container img {
   cursor: pointer;
}
/* +++++++ img mask +++++++ */
.mask_toggle {
   width: min-content;
   /* background: red; */
   display: block;
}
/* -----   -  --   -  ---- */
.img_mask {
   height: 100%;
   width: 100%;
   overflow: hidden;
}
.img_mask .vertical_img {
   height: 150%;
}
.img_mask .horizontal_img {
   height: 100%;
}
/* -----   -  --   -  ---- */
.img_unmask {
   height: 100%;
   width: 100%;
}
.img_unmask .vertical_img {
   height: 90%;
   margin-top: 5%;
}
.img_unmask .horizontal_img {
   height: 60%;
   margin-top: 20%
}
/* +++++ img mask end +++++ */


