.gallery_container {
   display: flex;
   /* justify-content: space-between ; */
}
.photo_container {
   height: 9rem;
   width: 9rem;
   /* background-color: yellow; */
   text-align: center;
}
.img_mask {
   height: 60%;
   width: 60%;
   margin-top: 20%;
   overflow: hidden;
   /* background-color: whitesmoke; */
}

.vertical_img {
   height: 150%;
   /* margin-top: 5%; */
}
.horizontal_img {
   height: 100%;
   /* margin-top: 20% */
}


