.container {
   max-width: 900px;
   padding: 0 0.5rem;
   margin: 1rem auto;
   min-height: 80vh;
   /* background-color: red; */
}
.container article {
   width: 98%;
   margin: 4rem auto;
   /* margin-top: 5rem; */
}
@media (max-width: 600px) {
   
}