.container {
   font-size: .8rem;
   width: 100%;
}
.container main {
   width: 70%;
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
}
.album_info img {
   border: 1px solid rgb(212, 212, 212)
}

.container ul {
   margin: 1rem;
   padding: 0;
   list-style: none;
   font-size: .8rem;
}
