.container {
   width: 100%;
   margin: 0 auto;
   /* border-left: 1px solid rgb(241, 241, 241);
   border-right: 1px solid rgb(241, 241, 241); */
   transition: .3s;
   padding-top: 3rem;
}
.gallery_container {
   width: 100%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   /* margin-top: 3rem; */
}
.album_container {
   height: 10rem;
   border: 1px solid rgb(212, 212, 212);
   margin: 2px;
}
.album_container img {
   height: 100%;
   cursor: pointer;
   opacity: .7;
   transition: .4s;
}
.album_container img:hover {
   opacity: 1;
   transition: .4s;
}
@media (max-width: 600px) {
   .gallery_container {
      justify-content: center;
   }
   .album_container {
      height: 18rem;
   }
   .album_container img {
      opacity: 1;
   }
}