.container {
   position: relative;
   width: 100%;
   padding: 3rem 1rem;
   min-height: 90vh;
   
}
.links_wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   margin-left: 10%;
}
.link_container {
   font-size: .6rem;
   font-weight: 100;
   color: grey;
   width: 15%;
   height: min-content;
   margin: .2rem;
   padding: .5rem;
}
.link_container a {
   color: grey;
}
.link_container a:hover {
   color: initial;
}
@media (max-width: 600px) {
   .container {
      padding: 3rem 0;
   }
   .links_wrapper {
      margin-left: 5%;
   }
   .link_container {
      width: 45%;
   }
}