.container {
   width: 100%;
   min-height: 70vh;
   margin: 0 auto;
   border-left: 1px solid rgb(241, 241, 241);
   border-right: 1px solid rgb(241, 241, 241);
   padding-top: 3rem;
   transition: .3s;
}

.gallery_container {
   width: 100%;
   /* min-height: 80vh; */
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.video_container img {
   width: 17rem;
   margin: 1rem 1rem 0 1rem;
   cursor: pointer;
   opacity: .7;
   transition: .4s;
}
.video_container img:hover {
   opacity: 1;
   transition: .4s;
}
.video_container p {
   margin: 0 0 0 1rem;
   color: grey;
   font-weight: 100;
}
@media (max-width: 600px) {
   .video_container img {
      opacity: 1;
      display: block ;
      margin: 1rem auto 0;
      width: 90%;
   }
   .video_container p {
      margin-left: 5%;
   }
}