.gallery_container {
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   margin: 1rem auto;
   /* justify-content: space-between ; */
   /* background: honeydew; */
}
.video_container img {
   width: 15rem;
   margin: 0 .5rem;
   cursor: pointer;
   opacity: .7;
   transition: .4s;
}
.video_container img:hover {
   opacity: 1;
   transition: .4s;
}
.video_container p {
   margin: 0 0 0 .5rem;
   color: grey;
   font-weight: 100;
}