html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* [uid] styles */
* {
  box-sizing: border-box;
}
a {
  color: inherit;
  text-decoration: none;
}
h3, h4 {
   margin: 0 0 .5rem 0;
}
p {
   /* font-size: .9rem; */
}
ul {
   margin: 1rem;
   padding: 0;
   list-style: none;
}
li {
   font-weight: 300;
}
