html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}
.container {
   max-width: 900px;
   background: red;
}
a {
   color: rgb(125, 196, 218);
   text-decoration: none;
}
.active_nav_links li, .active_nav_links a {
   display: none;
}
@media (max-width: 600px) {
  
   
}

